src/test/resources/library/book.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://mami/book"
            xmlns:bk="http://mami/book"
        >
    <xsd:complexType name="Book">
        <xsd:sequence>
            <xsd:element name="author" type="xsd:string"/>
            <xsd:element name="title" type="xsd:string"/>
            <xsd:element name="genre" type="xsd:string"/>
            <xsd:element name="price" type="xsd:float"/>
            <xsd:element name="pub_date" type="xsd:string"/>
            <xsd:element name="review" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string"/>
    </xsd:complexType>
    <xsd:element name="book" type="bk:Book"/>

</xsd:schema>
